body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.form-group{
  border: 2px solid black;
  width: 480px;
  height: 500px;
}
.form-control{
  border: 2px solid rgb(57, 54, 54);
}
#btn1,#btn2,#btn3{
  margin: 5px;
  padding: 5px;
  margin-top: 16px;
  right: 10px;


}
#result{
  position: absolute;
  bottom: 58%; /* Position the div at the bottom of the parent container */
  right: 380px ;
  padding: 10px;
  width: 200px;
  border: 2px solid black;
}
